version: '3.9'
services:
  server:
    build: ./server
    ports:
      - '8787:8787'
    environment:
      - NODE_ENV=production
  client:
    image: nginx:1.25-alpine
    ports:
      - '8080:80'
    volumes:
      - ./client/dist:/usr/share/nginx/html:ro
    depends_on:
      - server
